<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img
    width="40" class="position"
    alt="Angular Logo"
    src="../assets/image.png"
  />
  <span>Saving Glaciers</span>
  <div class="spacer"></div>
</div>
<div class="heading-table waste-heading">
  Waste management is a serious concern as waste segregation and collection practices are not 
  followed correctly. This project aims to address this issue by providing civic bodies in charge 
  of waste management with the appropriate data for Efficient Data collection and segregation.
  This data can be later aggregated at a block/area level allowing civic bodies to concentrate 
  waste collection and segregation efforts in a particular place.
</div>
<div class="heading-table">Waste quantity and type of waste generated per household: </div>
<div class="content" role="main">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">HouseId</th>
        <th scope="col">HouseAddress</th>
        <th scope="col">ZipCode</th>
        <th scope="col">RecycleQuantity</th>
        <th scope="col">LandfillQuantity</th>
        <th scope="col">Date</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let country of student; index as i">
        <td>{{ country.houseID | number }}</td>
        <td>{{ country.houseAddress }}</td>
        <td>{{ country.zipCode }}</td>
        <td>{{ country.recycledQuantity | number }}</td>
        <td>{{ country.landfillQuantity | number }}</td>
        <td>{{ country.date }}</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="heading-table">Enter your waste quantity as per type of waste generated: </div>
<div class="content form-position"> 
  <form [formGroup]="garbageForm" *ngIf="garbageForm">
  <div>
    <label>
      House Address:
      <input class="form-control" type="text" formControlName="houseAddress">
    </label>
  </div>
  <div>
    <label>
      Zip Code:
      <input class="form-control" type="text" formControlName="zipCode">
    </label>
  </div>
  <div>
    <label>
      Land Fill Quantity:
      <input class="form-control" type="text" formControlName="landfillQuantity">
    </label>
  </div>
  <div>
    <label>
      Recycled Quantity:
      <input class="form-control" type="text" formControlName="recycledQuantity">
    </label>
  </div>
  <div>
    <label>
      Date:
      <input class="form-control" type="text" formControlName="dateControl">
    </label>
  </div>

  </form>
  <button type="button" class="btn btn-primary" (click)="submitForm()" >Submit Garbage Data</button>
</div>

<router-outlet></router-outlet>
